---
import ContestIntroCard from './ContestIntroCard.astro';
import { RiRobot2Line } from "react-icons/ri";
---

<div class=" bg-slate-700  p-4 rounded-lg min-w-unit-sm my-4 mx-16">
    <div class="flex items-center gap-2 ml-2">
        <RiRobot2Line className='text-2xl' client:visible/>
        <h1 class="text-2xl font-bold">Contests</h1>
    </div>
    <div class="divider"></div>
    <div class="flex flex-col gap-2">
        <ContestIntroCard title="Contest 1" description="This is the first contest" />
        <ContestIntroCard title="Contest 2" description="This is the second contest" />
        <ContestIntroCard title="Contest 3" description="This is the third contest" />
        <ContestIntroCard title="Contest 4" description="This is the fourth contest" />
        <ContestIntroCard title="Contest 5" description="This is the fifth contest" />
    </div>
</div>