---
import NewsCard from './NewsCard.astro'
---

<div class=" bg-slate-700  p-4 rounded-lg min-w-unit-sm my-4 mx-16">
    <h1 class="text-2xl font-bold ml-2">News</h1>
    <div class="divider"></div>
    <div class="flex flex-col gap-2">
        <NewsCard news_title="TEST1"/>
        <NewsCard />
        <NewsCard />
    </div>
</div>