---
import Layout from "../layouts/Layout.astro"
import News from "../components/News.astro"
import ContestNews from "../components/ContestNews.astro"
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<title>AI CUP</title>
		<meta charset="utf-8">
	</head>
	<body>
		<Layout>
			<News />
			<ContestNews />
		</Layout>
	</body>
</html>