---
import { FaRegUser } from "react-icons/fa";
import { FaHome } from "react-icons/fa";
import { TfiCup } from "react-icons/tfi";
import { IconContext } from "react-icons";
import { MdOutlineContactSupport } from "react-icons/md";
import { GrResources } from "react-icons/gr";
import { FaForumbee } from "react-icons/fa6";
---

<div class="mx-16">
	<div class="navbar bg-base-100 border-b-2 border-primary rounded-xl">
		<div class="navbar-start">
		  <div class="dropdown">
			<div tabindex="0" role="button" class="btn btn-ghost btn-circle">
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
			</div>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-40">
			  <li><a><FaHome client:visible/>Homepage</a></li>
			  <li><a><TfiCup client:visible/>Contest</a></li>
			  <li><a><FaForumbee client:visible/>Community</a></li>
			  <li><a><GrResources client:visible/>Resources</a></li>
			  <li><a><MdOutlineContactSupport client:visible/>Contact</a></li>
			</ul>
		  </div>
		</div>
		<div class="navbar-center">
		  <a class="btn btn-ghost text-xl">AI CUP</a>
		</div>
		<div class="navbar-end">
		  <button class="btn btn-ghost btn-circle">
			<div class="indicator">
				<IconContext.Provider value={{ className: "h-5 w-5" }} client:visible>
					<div>
						<FaRegUser client:visible/>
					</div>
				</IconContext.Provider>
				<span class="badge badge-xs badge-primary indicator-item"></span>
			</div>
		  </button>
		</div>
	</div>
</div>
<slot />